@charset "utf-8";

@import '../../parts/variables';
@import '../../parts/mixins';

legend,
caption,
.skip,
.sr-only {
    @include sr-only;
}

.picture,
[class*=-picture] {
    // >img {
    //     width: 100%;
    // }

    text-align: center;

    img {
        max-width: 100%;
    }
}

img.full {
    width: 100%;
}

.form-group:after,
.row:after,
.cf:after {
    content: "";
    display: block;
    clear: both;
}

.sec {
    position: relative;
}

.bg-drop {
    display: block;
    @include pos(fixed, 0, 0);
    @include sizes(100%);
    background-color: rgba(0, 0, 0, .5);
}

.group-f,
.group {
    margin: 0 auto;
    box-sizing: border-box;

    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

.group {
    padding: 0 10px;
}

.ap-reset {
    @include ap-reset;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
}

.affix {
    position: fixed !important;
}

.split {
    position: relative;
    box-sizing: border-box;
}

.d-flex {
    display: flex !important;
}

.d-block {
    display: block !important;
}

.d-in-block {
    display: inline-block !important;
}

.ff-nnGothic {
    font-family: ("Nanum Gothic", Dotum, Sans-serif) !important;
}

.ff-nnSquareR {
    font-family: ('NanumSquareRound', sans-serif) !important;
}

.ff-ntss {
    font-family: ("Noto Sans KR", Dotum, Sans-serif) !important;
    ;
}

.fw-b {
    font-weight: 700 !important;
}

.fw-m {
    font-weight: 500 !important;
}

.fw-n {
    font-weight: 400 !important;
}

.ta-left {
    text-align: left !important;
}

.ta-center {
    text-align: center !important;
}

.ta-right {
    text-align: right !important;
}

.tt-up {
    text-transform: uppercase !important;
}

.td-under {
    text-decoration: underline !important;
}

.c-primary {
    color: $primary-color !important;
}

.c-white {
    color: $c-white !important;
}

.c-green {
    color: $c-green !important;
}

.c-yellow {
    color: $c-yellow !important;
}

.c-lightyellow {
    color: $c-yellow-light !important;
}

.c-red {
    color: $c-red !important;
}

.c-lightbrown {
    color: $c-brown-light !important;
}

.c-blue {
    color: $c-blue !important;
}

.c-lightblue {
    color: $c-blue-light !important;
}

.c-orange {
    color: $c-orange !important;
}

.bor-b {
    border-bottom: 1px solid $font-color;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.custom-icon-winpop {
    position: relative;
    font-size: 0;

    &,
    &:after {
        display: inline-block;
        width: 8px;
        height: 8px;
        border: 1px solid #b4b4b4;
        box-sizing: border-box;
    }

    &:after {
        content: '';
        position: absolute;
        top: -3px;
        left: 1px;

    }
}