@charset "utf-8";

@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");
@import url("http://fonts.googleapis.com/earlyaccess/notosanskr.css");
@import url("https://cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css");

#Footer {background-color:#323232; padding-bottom:50px; font-family:'Nanum Square', 'Nanum Gothic', '나눔고딕', 'NanumGothicWeb', '맑은 고딕', 'Malgun Gothic', '돋움', Dotum, sans-serif; line-height:1.5; font-size:13px;}
.f-area {width:970px; margin:0 auto;}
.f-area .f-top {padding:20px 0;}
.f-area .f-top:after {content:''; display:block; clear:both;}
.f-area .f-top .policy {float:left; padding-top:3px; color:#a3a3a3; font-size:13px;}
.f-area .f-top .policy a {color:#a3a3a3; font-size:13px;}
.f-area .f-top .policy a:hover {color:#fff;}
.f-area .f-top .policy a.privacy {color:#fff; font-weight:bold;}
.f-area .f-top .policy #compliance {display:inline-block; padding:2px 5px; border:1px solid #646464; vertical-align:middle; cursor:pointer;}
.f-area .f-top .family-site {float:right; position:relative; width: 150px; font-size:13px;}
.f-area .f-top .family-site > span {display:block; width: 100%; height:22px; text-indent:10px; border:1px solid #4c4c4c; color:#a3a3a3; line-height:22px; cursor:pointer;}
.f-area .f-top .family-site .site {display:none; position:absolute; left:0; bottom:23px; width: 100%; border:1px solid #4c4c4c; background-color:#323232;}
.f-area .f-top .family-site .site li {padding:2px 0;}
.f-area .f-top .family-site .site li a {display:block; padding-left:10px; color:#a3a3a3;}
.f-area .f-top .family-site .site li a:hover {color:#fff; font-weight:bold; text-decoration:underline;}
.f-area .f-bottom {overflow:hidden; position:relative; min-height:260px; padding-top:30px; border-top:1px solid #505050;}
.f-area .f-bottom .f-logo {float:left;}
.f-area .f-bottom .address {float:left; margin-left:40px;}
.f-area .f-bottom .address p {margin-bottom:10px; font-size:13px;}
.f-area .f-bottom .address p.copy {color:#7f7f7f; font-size:12px; letter-spacing:-1.5px;}
.f-area .f-bottom .address p strong {color:#cdcdcd; font-size:15px;}
.f-area .f-bottom .address p a {margin-left:5px; vertical-align:middle;}
.f-area .f-bottom .address p span {color:#a3a3a3; vertical-align:middle;}
.f-area .f-bottom .customer {float:right;}
.f-area .f-bottom .customer li {width:190px; height:70px; margin-bottom:10px; padding:10px 0 0 84px;}
.f-area .f-bottom .customer li.f_call {background:url('http://img.go.co.kr/f_ico_call.gif') no-repeat 20px 50% #414141;}
.f-area .f-bottom .customer li.f_mail {background:url('http://img.go.co.kr/f_ico_mail.gif') no-repeat 20px 50% #414141;}
.f-area .f-bottom .customer li p {color:#a4a4a4; font-size:14px;}
.f-area .f-bottom .customer li strong {color:#a4a4a4;}
.f-area .f-bottom .customer li.f_call strong {font-weight:400; font-size:38px; line-height:40px; letter-spacing:-4px;}
.f-area .f-bottom .customer li.f_mail strong {font-weight:400; font-size:21px; line-height:40px; letter-spacing:-1px;}
.f-area .f-bottom .four-list {position:absolute; right:0; bottom:0; font-size:0;}
.f-area .f-bottom .four-list a, .f-area .f-bottom .four-list img {margin-left:10px;}