@charset "utf-8";

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
    margin: 0;
    padding: 0;
    display: block;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

em,
strong {
    font-weight: 700 !important;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}