@charset "utf-8";

// @import url('/assets/fonts/notosanskr/notosanskr.css');

// @import '../../grid';
@import './base';
@import './override';

#landingHtOpPage {
    #Footer {
        margin-top: 0 !important;
    }
}

#header:after {
    content: '';
    display: block;
    clear: both;
}

#container[role=main] {
    position: relative;
    float: none;
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.425;
    font-family: $font-ntss;
}